{% extends 'base/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="row">

            <!-- cabecera --------------------------------->

            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form2.usuarioNombre.name }}">{{ form2.usuarioNombre.label }}</label>
                    {{ form2.usuarioNombre }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form2.fecha.name }}">{{ form2.fecha.label }}</label>
                    {{ form2.fecha }}
                </div>
            </div>

            <!-- detalle --------------------------------->

            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form.productoNombre.name }}">{{ form.productoNombre.label }}</label>
                    {{ form.productoNombre }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form.cantidad.name }}">{{ form.cantidad.label }}</label>
                    {{ form.cantidad }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form.precio.name }}">{{ form.precio.label }}</label>
                    {{ form.precio }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form.iva.name }}">{{ form.iva.label }}</label>
                    {{ form.iva }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{ form.descuento.name }}">{{ form.descuento.label }}</label>
                    {{ form.descuento }}
                </div>
            </div>





        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
{% endblock %}